<div class="container mt-5">
    <h1 class="mb-4" style="color: #7d1324;">Edit Actor - {{ form.get('name')?.value }}</h1>
    <div class="card p-4" style="border: 1px solid #7d1324;">
      <form [formGroup]="form" (ngSubmit)="submit()" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="name" class="form-label" style="color: #343a40; font-weight: 500;">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name" />
          </div>
  
          <div class="col-md-6 mb-3">
            <label for="date_of_birth" class="form-label" style="color: #343a40; font-weight: 500;">Date of Birth</label>
            <input type="date" class="form-control" id="date_of_birth" formControlName="date_of_birth" />
          </div>
  
          <div class="col-md-6 mb-3">
            <label for="place_of_birth" class="form-label" style="color: #343a40; font-weight: 500;">Place of Birth</label>
            <input
              type="text"
              class="form-control"
              id="place_of_birth"
              formControlName="place_of_birth"
              placeholder="Place of Birth"
            />
          </div>
  
          <div class="col-md-6 mb-3">
            <label for="date_of_death" class="form-label" style="color: #343a40; font-weight: 500;">Date of Death</label>
            <input type="date" class="form-control" id="date_of_death" formControlName="date_of_death" />
          </div>
  
          <div class="col-md-12 mb-3">
            <label for="biography" class="form-label" style="color: #343a40; font-weight: 500;">Biography</label>
            <textarea
              class="form-control"
              id="biography"
              rows="5"
              formControlName="biography"
              placeholder="Write the Biography here..."
            ></textarea>
          </div>
  
          <div class="col-md-12 mb-3">
            <label for="picture" class="form-label" style="color: #343a40; font-weight: 500;">Picture</label>
            <input type="file" class="form-control" id="picture" (change)="onPictureChange($event)" />
  
            <div *ngIf="picturePreview || currentPictureUrl" class="mt-3">
              <p>Preview:</p>
              <img [src]="picturePreview || currentPictureUrl" alt="Actor's Picture" width="200" />
            </div>
          </div>
        </div>
  
        <button type="submit" class="btn btn-primary w-100" style="background-color: #7d1324; border: none;">
          Save Changes
        </button>
      </form>
    </div>
  </div>
  