{% extends 'layout.html' %}

{% block content %}
<div class="container" style="position: relative;">

{% if messages %}
    {% for message in messages %}
        <div class="alert 
            {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-danger{% elif message.tags == 'info' %}alert-info{% endif %}
            alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

      
<div class="d-flex justify-content-between align-items-center mb-4">
<a href="{% url 'movies' %}">
  <h1 style="color: #7d1324" class="mb-0">Movies</h1>
</a>

  <div class="d-flex align-items-center">
    <h1 style="color: #7d1324" class="" >
      {% if user.is_authenticated and perms.app.add_movie %}
    <a href="{% url 'add_movie' %}" >
<i class="bi bi-plus-square-fill mt-1 mr-2" style="color: #7d1324" ></i>
      {% endif %}
    </a>  
    </h1>

    <form action="." method="post" class="d-flex mb-0">
      {% csrf_token %}
      <div class="input-group">
        {{ form.query }}
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>
</div>

    <div class="row">
        {% for movie in movies %}
        <div class="col-md-4 mb-4">
            <div class="card" style="border: 1px solid #7d1324; transition: transform 0.2s;">
                <div class="card-body" style="padding: 20px;">
                    <h5 class="card-title" style="color: #7d1324;">{{ movie.title }}</h5>
                    <p class="card-text" style="color: #343a40; font-size: 1.1em; font-weight: 500;"><strong>Duration:</strong> {{ movie.duration }}<strong> (min)</strong></p>
                    <p class="card-text" style="color: #343a40; font-size: 1.1em; font-weight: 500;"><strong>Release Date:</strong> {{ movie.release_date }}</p>
                    <p class="card-text" style="color: #343a40; font-size: 1.1em; font-weight: 500;"><strong>Genres:</strong>
                        {% for genre in movie.genres.all %}
                            {{ genre.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p class="card-text" style="color: #343a40; font-size: 1.1em; font-weight: 500;">{{ movie.synopsis|truncatewords:10 }}</p>

                    <!-- Formulário para Liking Movies -->
                    <form method="post" action="{% url 'toggle_like' movie.id %}" style="position: absolute; bottom: 20px; right: 20px;">
                        {% csrf_token %}
                        <button type="submit" style="background: none; border: none; cursor: pointer;">
                             {% if movie in liked_movies %} 
                                <i class="bi bi-heart-fill" style="font-size: 35px; color: #7d1324"></i>
                             {% else %}
                                <i class="bi bi-heart" style="font-size: 35px; color: #7d1324"></i> 
                            {% endif %} 
                        </button>
                    </form>

                    <a href="{% url 'movie_details' movie.id %}" title="Click to see movie details" class="btn btn-primary" style="background-color: #7d1324; border: none;">Details</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No movies found.</p>
        {% endfor %}
    </div>
</div>

<style>
button:hover i {
    transform: scale(1.2);
    color: #ff4081; /* Change color on hover */
}
</style>
{% endblock %}
