{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5" style="position: relative;">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mb-4" style="color: #7d1324;">{{ movie.title }}</h1>
        <div>

            {% if user.is_authenticated and perms.app.change_movie and perms.app.delete_movie %}
            <a href="{% url 'edit_movie' movie.id %}" class="btn btn-secondary me-2">
                <i class="fas fa-edit"></i> Edit
            </a>

            <!-- Botão Eliminar -->
            <form method="post" action="{% url 'delete_movie' movie.id %}" style="display: inline;" onsubmit="return confirm('Are you sure you want to delete this movie?');">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-trash"></i> Delete
                </button>
            </form>
            {% endif %}

        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8">
            <div class="card" style="border: 1px solid #7d1324;">
                <div class="card-body" style="padding: 20px;">
                    <h5 class="card-title" style="color: #7d1324;">Details</h5>
                    
                    <p class="card-text" style="color: #343a40; font-size: 1.1em; font-weight: 500;">
                        <strong>Duration:</strong> {{ movie.duration }} <strong>(min)</strong>
                    </p>
                    
                    <p class="card-text" style="color: #343a40; font-size: 1.1em; font-weight: 500;">
                        <strong>Release Date:</strong> {{ movie.release_date }}
                    </p>
                    
 <p class="card-text" style="color: #343a40; font-size: 1.1em; font-weight: 500;">
                <strong>Producers:</strong>
                <div style="display: flex; flex-wrap: wrap; gap: 8px; margin-top: 8px;">
                        {% for producer in movie.producers.all %}
                        <a href="{% url 'producer_details' producer.id %}">
                            <span class="badge badge-pill" style="
                                padding: 8px 12px;
                                background-color: #7d1324;
                                color: white;
                                font-size: 0.9em;
                                font-weight: 600;
                                border-radius: 15px;
                                transition: background-color 0.3s;
                                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                            " onmouseover="this.style.backgroundColor='#bb2d3b'"
                            onmouseout="this.style.backgroundColor='#7d1324'">
                                {{ producer.name }}
                            </span>

                        </a>
                        {% endfor %}
                </div>
            </p>

                  <p class="card-text" style="color: #343a40; font-size: 1.1em; font-weight: 500;">
                <strong>Genres:</strong>
                <div style="display: flex; flex-wrap: wrap; gap: 8px; margin-top: 8px;">
                        {% for genre in movie.genres.all %}
                        <a href="{% url 'genres' %}">
                            <span class="badge badge-pill" style="
                                padding: 8px 12px;
                                background-color: #7d1324;
                                color: white;
                                font-size: 0.9em;
                                font-weight: 600;
                                border-radius: 15px;
                                transition: background-color 0.3s;
                                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                            " onmouseover="this.style.backgroundColor='#bb2d3b'"
                            onmouseout="this.style.backgroundColor='#7d1324'">
                                {{ genre.name }}
                            </span>

                        </a>
                        {% endfor %}
                </div>
            </p>
                    

            <p class="card-text" style="color: #343a40; font-size: 1.1em; font-weight: 500;">
                <strong>Actors:</strong>
                <div style="display: flex; flex-wrap: wrap; gap: 8px; margin-top: 8px;">
                        {% for actor in movie.actors.all %}
                        <a href="{% url 'actor_details' actor.id %}">
                            <span class="badge badge-pill" style="
                                padding: 8px 12px;
                                background-color: #7d1324;
                                color: white;
                                font-size: 0.9em;
                                font-weight: 600;
                                border-radius: 15px;
                                transition: background-color 0.3s;
                                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                            " onmouseover="this.style.backgroundColor='#bb2d3b'"
                            onmouseout="this.style.backgroundColor='#7d1324'">
                                {{ actor.name }}
                            </span>

                        </a>
                        {% endfor %}
                </div>
            </p>
                                
                    
                    
                    <p class="card-text" style="color: #343a40; font-size: 1.1em; font-weight: 500;">
                        <strong>Synopsis:</strong> {{ movie.synopsis }}
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            {% if movie.poster %}
            <img src="{{ movie.poster.url }}" alt="{{ movie.title }} poster" class="img-fluid" style="border-radius: 8px;width:100%">
            {% else %}
            <p>No poster available.</p>
            {% endif %}
        </div>
    </div>
</div>

<style>
.heart:hover i {
    transform: scale(1.2);
    color: #ff4081;
}
</style>
{% endblock %}
